# backend
PG_HOST=database
PG_PORT=5432
PG_USER=benja
PG_PASSWORD=1234
PG_DATABASE=bdpreguntas
SEED=true

# node
NODE_ENV=development

# initial container config postgres 
POSTGRES_USER=benja
POSTGRES_PASSWORD=1234
POSTGRES_DB=bdpreguntas

# frontend
VITE_API_BASE_URL=http://localhost:3002/api/
PORT=3000