# backend
DB_HOST=database
DB_PORT=5432
DB_USER=benja
DB_PASSWORD=1234
DB_NAME=bdpreguntas
SEED=true

# node
NODE_ENV=development

# initial container config postgres 
POSTGRES_USER=benja
POSTGRES_PASSWORD=1234
POSTGRES_DB=bdpreguntas

# frontend
VITE_API_BASE_URL=http://localhost:3002/api/
PORT=3000
